.starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle var(--duration, 5s) infinite ease-in-out;
  --duration: 5s;
}

@keyframes twinkle {
  0%, 100% { opacity: var(--min-opacity, 0.2); }
  50% { opacity: var(--max-opacity, 1); }
}

.shooting-star {
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  animation: shoot var(--shoot-duration, 3s) linear infinite;
  --shoot-duration: 3s;
  transform: rotate(var(--angle, 45deg));
  --angle: 45deg;
  opacity: 0;
}

@keyframes shoot {
  0% {
    transform: rotate(var(--angle, 45deg)) translateX(-100vw);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(var(--angle, 45deg)) translateX(100vw);
    opacity: 0;
  }
}
